<div class="col-xs-6 eskaeskaStep1">

    <div class="form-group">
        <label for="kone_tz">:תז מוכר</label>
        <input type="text" class="form-control" name="kone_tz" ng-model="formData.kone_tz">
    </div>


<div class="form-group">
    <label for="kone_name">:שם הרוכש</label>
    <input type="text" class="form-control" name="kone_name" ng-model="formData.kone_name">
</div>

    <div class="form-group">
        <label for="kone_ktovaet">:כתובת</label>
        <input type="text" class="form-control" name="kone_ktovaet" ng-model="formData.kone_ktovaet">
    </div>

<div class="form-group">
    <label for="kone_phone">:טלפון נייד</label>
    <input type="text" class="form-control" name="kone_phone" ng-model="formData.kone_phone">
</div>

<div class="form-group">
    <label for="kone_email">:דואר אלקטרוני</label>
    <input type="text" class="form-control" name="kone_email" ng-model="formData.kone_email">
</div>

</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3 marginTop">
    <a ui-sref="form.eska" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"> </span>  שלב הבא
    </a>
</div>
</div>
