<div class="col-xs-6 eskaeskaStep1">

    <div class="form-group">
        <label for="eska_pkida_bankNum">:מספר בנק </label>
        <input type="text" class="form-control" name="eska_pkida_bankNum" ng-model="formData.eska_pkida_bankNum">
    </div>
    <div class="form-group">
        <label for="eska_pkida_bankNumsSnif">:מספר סניף </label>
        <input type="text" class="form-control" name="eska_pkida_bankNumsSnif" ng-model="formData.eska_pkida_bankNumsSnif">
    </div>
<div class="form-group">
        <label for="eska_pkida_name">:שם בנקאית מטפלת</label>
        <input type="text" class="form-control" name="eska_pkida_name" ng-model="formData.eska_pkida_name">
    </div>
    <div class="form-group">
        <label for="eska_email">:דואר אלקטרוני</label>
        <input type="text" class="form-control" name="eska_email" ng-model="formData.eska_email">
    </div>

    <div class="form-group">
        <label for="eska_phone">:טלפון </label>
        <input type="text" class="form-control" name="eska_phone" ng-model="formData.eska_phone">
    </div>

    <div class="form-group">
        <label for="eska_fax">:פקס </label>
        <input type="text" class="form-control" name="eska_fax" ng-model="formData.eska_fax">
    </div>
</div>


<div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3 marginTop">
            <a ui-sref="form.eskaStep1" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-circle-arrow-left"> </span>  שלב הבא
            </a>
        </div>
    </div>
    <!--<button type="submit" class="btn btn-danger">Submit</button>-->
